<h1>Projects</h1>

<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">Deadline</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

      <% @projects_proposal.each do | project | %>
      <tbody>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.start_date %></td>
          <td><%= project.finish_date %></td>
          <td><%= project.status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col-sm-6">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">Deadline</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

      <% @projects_in_progress.each do | project | %>
      <tbody>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.start_date %></td>
          <td><%= project.finish_date %></td>
          <td><%= project.status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col-sm-6">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">Deadline</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

      <% @projects_completed.each do | project | %>
      <tbody>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.start_date %></td>
          <td><%= project.finish_date %></td>
          <td><%= project.status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>