<div class="row py-4">
  <div class="col-sm-3">
    <%= search_form_for @q do |f| %>
      <div class="form-group">
      <%= f.label :status_eq, "Status Filter" %>
      <%= f.select :status_eq, options_for_select(Project.statuses , @q.status_eq), {},{class: 'form-control'} %> 
      </div>
      <%= f.submit "Search", class: 'btn btn-primary' %>
      <%= link_to 'Reset', projects_path, class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">Deadline</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

      <% @projects.each do | project | %>
      <tbody>
        <tr>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= project.description %></td>
          <td><%= project.start_date %></td>
          <td><%= project.finish_date %></td>
          <td><%= project.status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
